.card {
  display: flex;
  gap: 20px;
  position: relative;
  pointer-events: none;
  letter-spacing: -0.5px;
  background-color: #ffffff;
}
.card_img {
  width: 40%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #d4d4d4;
}
.card_contents_wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.card_contents_wrap > .card_contents_title {
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card_contents_wrap > .card_contents_desc {
  color: #c4c4c4;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  flex-grow: 1;
}
.card_sortable_mark {
  position: absolute;
  right: 0;
  bottom: calc(50% - 16px);
}
